/* maunaloa/_grid_main.scss */

.grid-main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1750px 1fr;
  grid-template-rows: 600px 110px 200px;
}

.main-chart {
  grid-row: 1;
  grid-column: 2;
}

.sub-chart-1 {
  grid-row: 2;
  grid-column: 2;
}

.sub-chart-2 {
  grid-row: 3;
  grid-column: 2;
}