body {
  color: #014156;
  background-color: #FFFAF0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.0em;
}

.draggable {
  cursor: move;
}

.form-check {
  padding-bottom: 1rem;
}

.radio-inline {
  margin-right: 1rem;
}

canvas.c1,
canvas.c2,
canvas.c3 {
  border: 1px solid #000000;
}

a.href-td {
  padding: 5px 5px 5px 5px;
  background: #942d16;
  color: #fff;
}

@import "../components/checkbox";
@import "../components/modal_dialog";

@import "../globals/logo";

@import "grid_main";
@import "grid_scrapbook";
@import "menubar";