HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.css.map
gradle/
gradlew.bat
logs/

purescript/.bash_history
purescript/.cache-0.13.8/
purescript/.cache-0.14.4/
purescript/.cache/
purescript/.local/
purescript/.npm/
purescript/.spago-0.13.8/
purescript/.spago-0.14.4/
purescript/deploy_ps.py
purescript/dist/
harborview.code-workspace
purescript/tmp/
purescript/**/dist/


