@import "../globals/logo";
@import "../colorscheme/tokyo";
@import "../components/modal_dialog_bottom";

body {
  background-color: $bg-color;
  color: $color-1;
  font-family: "Poppins", sans-serif;
  /*font-family: "Tangerine", sans-serif;*/
  font-size: 1rem;
}
