/* components/_modal_dialog.scss */

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 0, 0, 0.2);
  z-index: 99999;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 30rem;
  position: relative;
  margin: 10% auto;
  padding: 3rem;
  border-radius: 10px;
  background: $light;
  background: -moz-linear-gradient(#fff, #ddd);
  background: -webkit-linear-gradient(#fff, #ddd);
  background: -o-linear-gradient(#fff, #ddd);
}

.dlg-hide {
  opacity: 0.0;
  pointer-events: none;
}

.dlg-show {
  opacity: 1.0;
  pointer-events: auto;
}
